body{
    
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    width: 100%;
}
h1{
    font-size: 50px;
}
h4{
    color: gray;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
    text-decoration: none;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 800px;
    height: 700px;
}
.name-highlight{
    color: goldenrod;
}
.text-highlight{
    color: maroon;
}
.hire-button{
    text-decoration: none;
    background-color: goldenrod;
    background-image: linear-gradient(45deg, goldenrod, gold);
    padding: 10px 20px;
    color: honeydew;
    border-radius: 10px;
    
}
.hire-button:hover{
    box-shadow: 0 0 11px rgba(42, 41, 41, 0.9); 

}
.cv-button{
    text-decoration: none;
    color: white;
    background-color: lightsalmon;
    background-image: linear-gradient(360deg, lightsalmon, tomato);
    padding: 15px 20px;
    border-radius: 5px;

}
.cv-button:hover{
    box-shadow: 0 0 11px rgba(42, 41, 41, 0.9); 
}
#same-hight{
    height: 700px;
}
.latest-section{
    background: rgb(241, 229, 229);
    height: 900px;
    margin-top: 420px
}
.latest-section h2{
    text-align: center;
}
.latest-area{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.latest-area img{
   
    width: 400px;
    height: 300px;
}
#g{
    background: cornsilk;
    border-radius: 15px;
    padding-top: 40px;
}
#a{
    background: cornsilk;
    border-radius: 15px;
    padding-top: 40px;
}
#m{
    background: cornsilk;
    border-radius: 15px;
    padding-top: 40px;
}
.last-section{
    height: 600px;
}
.last-section img{
margin-left: 450px;
width: 906px;
height: 225px;

}
.last-work{
    width: 906px;
    height: 225px;
    margin-top: 60px;
    margin-left: 22%;
    background-image: url("images/last-section.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.word-move{
    
    width: 250px;
    height: 50px;
    margin-left: 80px;
    padding-top: 5%;
    color: aliceblue;
}

.button-move{
    width: 80px;
    height: 30px;
    background-color: tomato;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    float: right;
    margin-right:60px;
    margin-bottom: 100px;
    padding: 10px 20px;
    
}
.button-move:hover{
    box-shadow: 0 0 11px rgba(42, 41, 41, 0.9); 
}
.button-move a{
    text-decoration: none;
    color: whitesmoke;
}
.bottom-section p{
    text-align: center;
    color: grey;
    font-size: bold;
    
}
.bottom-section h3{
    text-align: center;
}
.full-width{
    width: 100%;
    text-align: center;
}
